<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
<body>
	<div>
		<input class="username">
	</div>
	<div>
		<input class="password">
	</div>
	<div>
		<input class="name">
	</div>
	<div>
		<input class="email">
	</div>
	<button type="button" class="send-button">등록</button>
	<script>
	
		window.onload = () =>{
			addSendButtonEvent();
		}
	
		function addSendButtonEvent(){
			const sendButton = document.querySelector(".send-button");
			sendButton.onclick = () =>{
				send();
			}
		}
	
		function send(){
			const username = document.querySelector(".username").value;
			const password = document.querySelector(".password").value;
			const name = document.querySelector(".name").value;
			const email = document.querySelector(".email").value;
			
			const userObj = {
					username,
					password,
					name,
					email
			}
			console.log(JSON.stringify(userObj));
			
			const request = {
					type:"post",//method
					url:"http://localhost:8080/api/user/addition",
					contentType:"application/json",//request data type
					data:JSON.stringify(userObj),//request data
					dataType:"json",//response data type
					
					//response 성공시에 실행될 메소드 정의
					success:(response)=>{
						console.log(response);
					},
					//request 또는 response 실패시 실행될 메소드 정의
					error:(error) =>{
						console.log(error);
					}
			}
			$.ajax(request);
		}
	</script>
</body>
</html>